*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

header{
    background: #222;
    color: rgb(230, 98, 98);
    padding: 15px 40px;
    justify-content: center;
    align-items: center
}

.header-navbar {
    padding: 10px;
    margin: 10px;
}
li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    padding: 0;
    margin: 0;
    
}
a {
    text-decoration: none;
   color:black ;
   gap: 45px;  
   font-weight: bold;  
}
a :hover{
    color: red;
}

header.header-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header .header-navbar ul li {
    font-size: 18px;
    font-weight: 450;
    gap: 30px;
}

header.header-navbar ul li :hover a {
    color: red;
}
